# Exclure les fichiers compilés de Python
__pycache__/
*.py[cod]
# Exclure les fichiers .env pour protéger les tokens et informations sensibles
.env
# exclure le venv
botcnam
# Exclusion d'un notebook de test en local
src/testing.ipynb
